<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>670781077200-flj7jt8dr7549bofihaeed2q8jnkdi31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670781077200-flj7jt8dr7549bofihaeed2q8jnkdi31</string>
	<key>API_KEY</key>
	<string>AIzaSyDNxJlHpys3Fa-qH0Y5lMVPWQTs22U7CRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>670781077200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.friendlypix</string>
	<key>PROJECT_ID</key>
	<string>test-77c48</string>
	<key>STORAGE_BUCKET</key>
	<string>test-77c48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670781077200:ios:2873680be5c28494</string>
	<key>DATABASE_URL</key>
	<string>https://test-77c48.firebaseio.com</string>
</dict>
</plist>